<div class="container">
  <form [formGroup]="userSearchForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-8">
        <div class="mb-3">
          <input
            type="username"
            class="form-control"
            id="username"
            placeholder="Enter Stack Exchange username to search..."
            formControlName="username"
          />
        </div>
      </div>
      <div class="col-4">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
</div>
